@model IEnumerable<WebApp.Models.AcceptedRecyclable>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                Должность сотрудника
            </th>
            <th>
                Опыт сотрудника
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecyclableType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item.Employee.Surname.ToString() + " " 
                + item.Employee.Name.ToString() + " " 
                + item.Employee.Patronymic.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Position.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecyclableType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
